:root {
    --p-grid-cols: 1;
    --p-grid-rows: 1;
}

.box {
    background-color: #fff;
}

.grid {
    display: grid;
    grid-gap: 0 0;
    background-color: #fff;
    border-radius: 3px;
    border: 3px solid #212121;
    grid-template-rows: repeat(var(--p-grid-rows), 1fr);
    grid-template-columns: repeat(var(--p-grid-cols), 1fr);
}

.node {
    padding-top: 108%;
    background-color: #fff;
}

.plus {
    background-color: #d88bff;
}

.plus-center {
    background-color: #7bff9b;
}

.node-start {
    background-color: #f81245;
    transition: ease-in-out 200ms;
}

.node-finish {
    background-color: #0652dd;
    transition: ease-in-out 200ms;
}

.node-wall {
    background-color: #212121;
    transition: all 250ms;
}

.node-shortest-path {
    background-color: yellow;
    transition: ease-in-out 25ms;
}

.node-visited {
    background-color: blueviolet;
    transition: ease-in-out 100ms;
}

.bg-start {
    background-color: #f81245 !important;
    color: #fff !important;
}

.bg-end {
    background-color: #0652dd !important;
    color: #fff !important;
}

.bg-wall {
    background-color: #262626 !important;
    color: #fff !important;
}

.bg-purple {
    background-color: blueviolet !important;
    color: #fff !important;
}
